# Pass the default character set
AddDefaultCharset utf-8

RewriteEngine On

RewriteBase /vhdl/
RewriteRule ^()$ index.php [NC,L]
RewriteRule ^libraries/([^/]+)[\/]?$ index.php?action=$1&short_code=$2 [NC,L]
RewriteRule ^edit-project/([^/]+)/([^/]+)[\/]?$ index.php?action=edit-project&user=$1&short_code=$2 [NC,L]
RewriteRule ^libraries/page/([^/]+)[\/]?$ index.php?action=libraries&page=$1 [NC,L]
RewriteRule ^project/([^/]+)/([^/]+)/(file)/(.*) index.php?action=project-file&user=$1&project=$2&file=$4 [NC,L]
RewriteRule ^project/([^/]+)/([^/]+)[\/]?$ index.php?action=project-dir&user=$1&project=$2 [NC,L]
RewriteRule ^project/([^/]+)[\/]?$ index.php?action=project-user&ptype=1&user=$1 [NC,L]
RewriteRule ^file/(.*) index.php?action=sid-file&file=$1 [NC,L]
RewriteRule ^(settings|profile|create-project|libraries|edit-project|project) index.php?action=$1 [NC,L]

# Handle common HTTP status codes
ErrorDocument 400 /index.php?action=error&code=400
ErrorDocument 401 /index.php?action=error&code=401
ErrorDocument 403 /index.php?action=error&code=403
ErrorDocument 404 /index.php?action=error&code=404
ErrorDocument 500 /index.php?action=error&code=500

# Protect the htaccess file
<files .htaccess>
    order allow,deny
    deny from all
</files>

# Disable directory browsing
Options All -Indexes

# Prevent folder listing
IndexIgnore *
