# Pass the default character set
AddDefaultCharset utf-8

RewriteEngine On

RewriteBase /vhdl/
RewriteRule ^()$ index.php [NC,L]
RewriteRule ^libraries/([^/]+)[\/]?$ index.php?action=libraries&short_code=$1 [NC,L]
RewriteRule ^edit-project/([^/]+)/([^/]+)[\/]?$ index.php?action=edit-project&user=$1&short_code=$2 [NC,L]
RewriteRule ^libraries/page/([^/]+)[\/]?$ index.php?action=libraries&page=$1 [NC,L]
RewriteRule ^project/([^/]+)/([^/]+)/(file)/(.*) index.php?action=project-file&user=$1&project=$2&file=$4 [NC,L]
RewriteRule ^project/([^/]+)/([^/]+)[\/]?$ index.php?action=project-dir&user=$1&project=$2 [NC,L]
RewriteRule ^project/([^/]+)[\/]?$ index.php?action=project-user&ptype=1&user=$1 [NC,L]
RewriteRule ^file/(.*) index.php?action=sid-file&file=$1 [NC,L]
RewriteRule ^create-project/(.*) index.php?action=create-project&user=$1 [NC,L]
RewriteRule ^admin/(users|components|projects)[\/]?$ index.php?action=admin&option=$1 [NC,L]
RewriteRule ^admin/(users|components|projects)/page/([^/]+)[\/]?$ index.php?action=admin&option=$1&page=$2 [NC,L]
RewriteRule ^settings/(.*) index.php?action=settings&user_id=$1 [NC,L]
RewriteRule ^(admin|settings|profile|create-project|libraries|edit-project|project) index.php?action=$1 [NC,L]

# Protect the htaccess file
<files .htaccess>
    order allow,deny
    deny from all
</files>

# Disable directory browsing
Options All -Indexes

# Prevent folder listing
IndexIgnore *
